<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>

<div>
    <nav>
        <a class="btn btn-primary" role="button" href="/recipe/add" >New Recipe</a>
        <a class="btn btn-primary" role="button" href="/recipe/category" > Recipe Categories </a>
    </nav><br/>
</div>

<p th:unless="${recipes} and ${recipes.size()}"> No recipes :(</p>


<div  th:each="category : ${categories}">
    <div class="table-responsive-sm" th:if="${category.getRecipes().size()}">
        <h3 th:text="${category.name}"></h3>
        <table  class="table">
            <thead>
            <tr class="active" >
                <th class="col-sm-3" >Name</th>
                <th class="col-sm-3">Servings</th>
                <th class="col-sm-3"># of Ingredients</th>
            </tr>
            </thead>
            <tbody >
            <tr  th:each="recipe : ${category.getRecipes()}">
                <td  th:text="${recipe.name}"></td>
                <td  th:text="${recipe.servingSize}"></td>
                <td  th:text="${recipe.getRecipeIngredients().size()}"></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<div th:replace="fragments :: cssjs"></div>

</body>
</html>