<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>


<p th:unless="${ingredients} and ${ingredients.size()}">no ingredients :(</p>

<div>
    <nav>
        <a class="btn btn-primary" role="button" href="/ingredients/add" >New Ingredient</a>
        <a class="btn btn-primary" role="button" href="/ingredients/category" >Categories </a>
    </nav><br/>
</div>

<div class="container" th:each="category : ${categories}">

    <div  th:if="${category.getIngredients().size()}">
        <h3 th:text="${category.name}"></h3>
        <table  class="table table-hover">
            <thead>
                <tr class="active" >
                    <th class="col-sm-3" >Name</th>
                    <th class="col-sm-3">Quantity</th>
                </tr>
            </thead>
            <tbody >
                <tr  th:each="ingredient : ${category.getIngredients()}">
                    <td  th:text="${ingredient.name}"></td>
                    <td  th:text="${ingredient.inventory}"></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div th:replace="fragments :: cssjs"></div>

</body>
</html>